@font-face {
  font-family: "Pixeled";
  src: url("../fonts/Pixeled.ttf");
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Pixeled", sans-serif;
}
.pokedex {
  position: relative;
}
area {
  display: block;
  background-color: pink;
}
.pokemon-display {
  height: 28%;
  position: absolute;
  width: 51%;
  left: 20%;
  top: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-display__stat-screen {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}
.bit-text {
  font-size: small;
}
